body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(144, 3, 209);
    padding-top: 15%;
    text-align: center;
    color: white;
}
a{
    color: white;
    font-weight: bold;
}
h1{
    font-size: 6rem;
}
h3{
    font-size: 3rem;
}
p{
    font-size: 2rem;
}