*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Raleway SemiBold;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#333,black);
}
body .card{
    width: 450px;
    height: auto;
    padding: 1rem;
    background: white;
    z-index: 1;
    border-right: 1px solid black;
    box-shadow: 0rem 0px 20px rgba(255,255,255,0.2);
    
}
.card:first-child{
    border-radius: 4px 0px 0px 4px;
}
.card:last-child {
    border-radius: 0px 4px 4px 0px;
}
.card h1{
    color: #333;
    font-size: 1.4rem;
}
.card p{
    color: #444;
    font-size: .9rem;
    margin: .5rem 0rem;
    line-height: 1.5;

}
.card button{
    padding: .5rem 1rem;
    border: none;
    background: black;
    color: white;
    outline: none;
    border-radius: .5rem;
    font-size: 1rem;
    cursor: not-allowed;
    margin: .3rem 0rem;
}